*
!/.gitignore
!/dasarWeb/
!/dasarWeb/**
!/jobsheet3/
!/jobsheet3/**
!/jobsheet4/
!/jobsheet4/**
!/jobsheet5_1/
!/jobsheet5_1/**
!/jobsheet5_2/
!/jobsheet5_2/**
!/jobsheet6_jquery/
!/jobsheet6_jquery/**
!/jobsheet6_postgresql/
!/jobsheet6_postgresql/**