html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    line-height: 1.65;
    padding-bottom: 1000px;
}

.container-satu {
    width: 1000px;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    background-image: url("img/field1.jpg");

}

.kolom-utama {
    flex: 3;
    order: 2;
    background-color: #f9f9f9;
    padding: 15px;
}

.sidebar-satu {
    flex: 1;
    order: 1;
    background-color: lightblue;
    padding: 15px;
}

.sidebar-dua {
    flex: 1;
    order: 3;
    background-color: lightgreen;
    padding: 15px;
}
